@import 'libs/helpless.0.0.3.less';
@import 'libs/boilerplate.less';
@import 'vars.less';


body {
	margin: 0;
	background-color: @background-color-dark;
	font-family: @heading-font-family;
	color: #fff;
}

h1 {
	font-size: 36px;
	padding-top: 180px;
}


h2 {
	.opacity(0.2);
	margin-top: 100px;
	color: #fff;
	font-size: 36px;
}

h3 {
	font-size: 36px;
	color: @body-copy-color;
}

h4 {
	font-size: 18px;
}

p {
	color: @body-copy-color;
	font-family: @body-font-family;
	font-size: 12px;
	line-height: 24px;
}

a {
	color: #fff;
	font-family: 'Verdana';
	font-size: 12px;
	line-height: 24px;
	text-decoration: none;
	font-weight: bold;
}

ol {
	margin-top: @ws-unit*3;
}

li {
	display: inline-block;
	list-style-type: none;
	margin-right: @ws-unit*1.9;

	&:last-child{
		margin-right: 0;
	}
}

.adr {
	font-family: 'Verdana';
	font-size: 12px;
	line-height: 24px;
}

.white {
		color: #fff;
}

.headings-left{
	.column(4);
	height: @ws-unit*25;
}

.content-right {
	.column(8);
}

.icon-panel {
	.push(4);
	padding-top: @ws-unit*3.25;
}

.icon {
	.column(2.5);
	text-align: center;
	position: relative;
	
}

.content-panel {
	.column(4);
}

.container {
	width: 960px;
	margin: 0 auto;
}

section {
	.clearfix();
	&#intro {
		.white();
		.cover();
		background-image: url('../img/section-intro.jpg');
		background-attachment:fixed;
		background-size: auto 75%;

		img {
			padding-top: @ws-unit*2.5;
		}

		a {
			font-family: @other-font-family;
			font-size: 18px;
		}
	}

	&#what-we-are {

		.content {
			margin-top: @ws-unit;
		}
		

		p {	
			font-family: @heading-font-family;
			font-size: 18px;
			position: absolute;
			width: 100%;
			top: @ws-unit*6;
		}

	}

	&#what-we-believe {
		.white();
		background-image: url('../img/section-intro.jpg');
		.cover();

		.content-right {
			padding-top: 97px;

			p{
				font-family: @heading-font-family;
				font-size: 18px;
			}
		}
	}

	&#who-we-are {
		.content-panel{
			padding-top: 94px;
			
		}

		h4, a{

			color: @body-copy-color;

		}




	}

	&#how-to-contact-us {
		.white();
		background-image: url('../img/section-map.jpg');

		.content-panel{
			padding-top: @ws-unit*10;
		}

		p {
			.white();
		}
	}

}

footer {
	background-color: #000;
	padding: @ws-unit*0.7 0;
}
